@media screen and (max-width: 768px){
	.three-cols > .col, .four-cols > .col, .five-cols > .col, .six-cols > .col,
	.three-cols > .col img, .four-cols > .col img, .five-cols > .col img, .six-cols > .col img{
		display: block;
		width: 100%;
		padding: 0px;
	}
	
}	
@media screen and (max-width: 600px){
	#header ul, #header #details {
		text-align: center;
		padding-left: 0px;
	}
	.col,
	.col > img {
		display: block;
		width: 100%;		
	}
	.lightbox .popup input{
		display: block;
		width: calc(100% - 20px);
		margin: 10px;
	}
	#nav ul li {
		display: block;
	}
	#map img {

	}
}
@media screen and (max-width: 500px){
	#animation img {
		width: 130px;
	}
	#hotels li, .four-cols > div, .three-cols > div, .two-cols:not(#animation) > div {
		display: block;
		width: calc(100% - 10px);
		margin: 10px 0px;
	}
	#animation div {
		height: 162px;
	}
}