html{
	overflow-wrap: break-word;
}
body{
	background: #fff;
	font-family: 'Cormorant Garamond', serif;
	font-size: 19px;
	margin: 0px;
	padding: 0px;
	color: #565656;
	overflow-x: hidden;
}
button,.button,.link, .smaller{
	font-family: 'Cormorant Garamond', serif;
}
h1,h2,h3,.name, .fancy{
	font-family: 'Sacramento', cursive;
	margin: 20px 0;
}
h1{
	font-size: 48px;
}
h2{
	font-size: 35px;
}
h3 {
	font-size: 20px;
}
form {
	color: #000;
}
.align-left {
	text-align: left;
}
.popup form input, button, .button {
    padding: 5px 10px;
    border-radius: 20px;
    line-height: 22px;
    font-size: 20px;
}
form input, form select {
    padding: 4px 7px;
    border-radius: 14px;
    line-height: 16px;
    font-size: 14px;
	border: 1px solid #ccc;
}
button, .button {
    border: 1px solid #fff;
    color: #fff;
    background: #bbb;
	cursor: pointer;
}
a {
	text-decoration: none;
}
img{
	max-width: 100%;
}
.spinner {
	margin: 0 auto;
	min-height: 170px;
	width: 100%;
	background-image: url('/img/spinner.gif');
	background-size: 25%;
	background-repeat: no-repeat;
	background-position: 50% top;
}
.col > img {
	width: 100%;
}
.fa-star {
	color: #ffa700;
}
.inactive, .inactive a {
	color: #ccc !important;
}
.lightbox {
	position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 110%;
    background: hsla(0,0%,0%,.7);
    text-align: center;
    z-index: 999999;
	color: #fff;
}
.lightbox .popup{
    padding: 20px 0px;
    background: #000;
	position: relative;
	margin: 0 auto;
	top: 20%;
    width: 100%;
    height: auto;
	text-align: center;
}
.row.hidden,
.hidden { display: none; }
.container {
	max-width: 1200px;
	width: 100%;
	margin: 0 auto;
	position: relative;
}
.lightbox {
	display: none;
}
.center {
	text-align: center;
}
.row {
	display: block;
	padding: 10px;
}
.row > div {
	padding: 5px;
	vertical-align: top;
}
.one-cols > .col {
	display: block;
	width: calc(100% - 10px);
}
.two-cols > .col {
	display: inline-block;
	width: calc(49.9% - 12px);
}
.three-cols > .col {
	display: inline-block;
	width: calc(32.9% - 10px);
}
.four-cols > .col {
	display: inline-block;
	width: calc(24.5% - 5px);
}
.five-cols > .col {
	display: inline-block;
	width: calc(19.5% - 5px);
}
.row > div.full {
	width: 100%;
	max-width: 100%;
	padding: 0px;
}
#header, footer, #wrapper > .row:nth-child(even) {
	background: #fff8ea;
}
#nav ul li {
	display: inline-block;
	margin-right: 10px;
}
#nav ul li a:hover {
	color: #27d4c5;
}
#map {
	height: auto;
	overflow: hidden;
	text-align: center;
	background: #dedede;
	padding: 0px;
}
#map img {
	max-width: 100%;
	width: 100%;
	height: auto;
}
.smaller {
	font-size: 14px;
	font-weight: normal;
}
.two-cols #details {
	/*float: right;*/
	text-align: right;
}
.two-cols #details > span {
	display: block;
}
#hotels ul {
	margin: 0px;
	padding: 0 20px;
}
#hotels li {
	list-style: none;
	display: inline-block;
	margin: 0px;
	padding: 5px;
	width: calc(50% - 10px);
	vertical-align: top;
	text-align: left;
}
.row li .name {
	font-weight: bold;
	font-size: 20px;
}
.row li .name::after,
.row h2.venue::after {
	display: block;
	content: '';
	height: 2px;
	width: 40px;
	background-color: #999;
    margin-bottom: 10px;
}
.row li .name.red::after,
.row .venue.red::after{
	background-color: #a23c3c;
}
.row li .name.purple::after,
.row .venue.purple::after{
	background-color: #6b00ff;
}
a.blue {
	color: #94baff;
}
.row li .name.blue::after,
.row .venue.blue::after{
	background-color: #94baff;
}
.row li .name.yellow::after,
.row .venue.yellow::after{
	background-color: #e0bc36;
}
.row li .name.green::after,
.row .venue.green::after{
	background-color: #739c5e;
}
#wrapper .container {

}
#wrapper .container button, #wrapper .container .button {
	display: block;
    width: 100%;
	margin: 10px 0;
}
#animation div {
	height: 185px;
}
#animation img {
	 width: 150px;
	 height: auto;
	 padding: 3px;
	 border: 1px solid #999;
	 position: absolute;
}
#animation div:first-child img{
	transform: rotate(25deg);
	left:0%;
}
#animation div:last-child img{
	transform: rotate(-25deg);
	right:0%;
}

.switch-field {
  padding: 20px;
  overflow: hidden;
}

.switch-title {
  margin-bottom: 6px;
}

.switch-field input {
    position: absolute !important;
    clip: rect(0, 0, 0, 0);
    height: 1px;
    width: 1px;
    border: 0;
    overflow: hidden;
}

.switch-field label {

}

.switch-field label {
  display: inline-block;
  width: 60px;
  background-color: #e4e4e4;
  color: rgba(0, 0, 0, 0.6);
  font-size: 14px;
  font-weight: normal;
  text-align: center;
  text-shadow: none;
  padding: 6px 14px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.1);
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.1);
  -webkit-transition: all 0.1s ease-in-out;
  -moz-transition:    all 0.1s ease-in-out;
  -ms-transition:     all 0.1s ease-in-out;
  -o-transition:      all 0.1s ease-in-out;
  transition:         all 0.1s ease-in-out;
}

.switch-field label:hover {
    cursor: pointer;
}

.switch-field input:checked + label {
  background-color: #A5DC86;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.switch-field input:checked + label:last-child {
	background-color: rgb(255, 168, 168);
}

.switch-field label:first-of-type {
  border-radius: 4px 0 0 4px;
}

.switch-field label:last-of-type {
  border-radius: 0 4px 4px 0;
}
